<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-6 is-offset-3">
        <h2>Edit <%= resource_name.to_s.humanize %></h2>

        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            <div class="control">
              <%= f.label :first_name %><br />
              <%= f.text_field :first_name,
                               autofocus: true,
                               class: "input is-info" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.label :last_name %><br />
              <%= f.text_field :last_name,
                               class: "input is-info" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.label :avatar %><br />
              <%= image_tag(@user.avatar, width: 200) if @user.avatar.attached? %>
              <%= f.file_field :avatar,
                               class: "is-info" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.label :email %><br />
              <%= f.email_field :email,
                                autocomplete: "email",
                                class: "input is-info" %>
            </div>
          </div>

          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
          <% end %>

          <div class="field">
            <div class="control">
              <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
              <%= f.password_field :password,
                                   autocomplete: "new-password",
                                   class: "input is-info" %>
              <% if @minimum_password_length %>
                <br />
                <em><%= @minimum_password_length %> characters minimum</em>
              <% end %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.label :password_confirmation %><br />
              <%= f.password_field :password_confirmation,
                                   autocomplete: "new-password",
                                   class: "input is-info" %>
            </div>
          </div>

          <div class="field">
            <div class="control">
              <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
              <%= f.password_field :current_password,
                                   autocomplete: "current-password",
                                   class: "input is-info" %>
            </div>
          </div>

          <div class="field is-grouped is-grouped-centered">
            <div class="control">
              <%= f.submit "Save Changes", class: "button is-info" %>
            </div>
            <div class="control">
              <%= link_to "Cancel", :back, class: "button is-info is-outlined" %>
            </div>
          </div>

          <div class="control">
            
          </div>
        <% end %>

        <span class="separator my-3">Unhappy?</span>

        <div class="has-text-centered">
          <p><%= button_to "Cancel my account",
                                    registration_path(resource_name),
                                    data: { confirm: "Are you sure?" },
                                    method: :delete,
                                    class: "button is-danger" %>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>