<%= form_with(model: user) do |form| %>

  <% if user.errors.any? %>
    <div class="notification is-global-notification is-danger is-light" id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <div class="control">
          <%= form.text_field :first_name, class: "input is-info", placeholder: "First Name" %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= form.text_field :last_name, class: "input is-info", placeholder: "Last Name" %>
        </div>
      </div>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.text_field :password, class: "input is-info" %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= form.file_field :avatar %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
