<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <%= link_to "Create a New Post", new_post_path, class: "button is-info" %>
        <br><br>
        <% @posts.each do |post| %> <!--change to current_user.friends.posts.each or similar -->
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="https://moonvillageassociation.org/wp-content/uploads/2018/06/default-profile-picture1.jpg">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-6"><%= post.user.full_name %></p>
                  <p class="subtitle is-7"><%= time_ago_in_words(post.created_at) %> ago</p> <!-- center vertically -->
                </div>
              </div>
              <div class="content">
                <%= post.body %>
              </div>
              <%= link_to "#{post.comments.count} comments", post_path(post) %>
            </div>
            <footer class="card-footer">
              <!-- Beginning of like button functionality -->
              <%= link_to "Like", like_post_path(post), method: :post, class: "card-footer-item" %>
              <!-- End of like button -->
              <%= link_to "Comment", new_comment_path(post_id: post.id, user_id: current_user.id), class: "card-footer-item" %>
            </footer>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</section>