<!DOCTYPE html>
<html>
  <head>
    <title>OdinBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- navbar start -->
    <!-- notes 
      try notifications with just icon, not button
      Make name into dropdown with
        New Post
        My Friends
        Find Friends (search?)
        Profile
        Logout
    -->
    <nav class="level is-mobile has-background-info mb-0">
      <div class="level-left">
        <p class="level-item">
          <%= link_to "OdinBook", root_path, class: "title ml-3 nav-text" %>
        </p>
      </div>
      <% if user_signed_in? %>
        <div class="level-right nav-buttons">
          <%# <div class="columns is-mobile level-item"> %>
            <div class="level-item">
              <%= render 'layouts/notifications' %>
            </div>
            <div class="level-item">
              <%= link_to friends_path(current_user),
                          class: "nav-text nav-icon is-info" do %>
                <span class="icon"><i class="fas fa-user-friends"></i></span>
              <% end %>
            </div>
            <div class="level-item">
              <!-- <%= render 'layouts/dropdown_menu' %> -->
              <%= link_to user_path(current_user),
                          class: "nav-text nav-icon is-info" do %>
                <span class="icon"><i class="fas fa-user-circle"></i></span>
              <% end %>
            </div>
          <%# </div> %>
        </div>
      <% end %>
    </nav>
    <!-- navbar end -->

    <!-- flash messages start -->
    <% if notice %>
      <div class="notification is-global-notification is-info is-light has-text-centered">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="notification is-global-notification is-danger is-light has-text-centered">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <!-- flash messages end -->
    
    <%= yield %>
  </body>
</html>
