<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- navbar start -->
    <nav class="level has-background-info">
      <div class="level-left">
        <div class="columns is-gapless is-mobile level-item">
          <div class="column is-10 has-text-centered">
            <%= link_to "OdinBook", root_path, class: "title ml-3 nav-text" %>
          </div>
          <div class="column">
            <%= render 'layouts/notifications' if user_signed_in? %>
          </div>
        </div>
      </div>
      <div class="level-right">
          <% if user_signed_in? %>
            <%= link_to user_path(current_user), class: "level-item nav-text" do %>
              <span class="icon"><i class="fas fa-address-card"></i></span>
              <%= current_user.full_name %>
            <% end %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class: "level-item mr-3 nav-text" %>
          <% end %>
      </div>
    </nav>
    <!-- navbar end -->

    <!-- flash messages start -->
    <% if notice %>
      <div class="notification is-global-notification is-info is-light has-text-centered">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="notification is-global-notification is-danger is-light has-text-centered">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <!-- flash messages end -->
    
    <%= yield %>
  </body>
</html>
