<!--

  Last completed task: Set up devise user sessions
  Next task: prevent duplicate emails on sign up

-->

<!DOCTYPE html>
<html>
  <head>
    <title>OdinFacebook</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <div class="notification is-global-notification is-info">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if alert %>
      <div class="notification is-global-notification is-danger">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "button is-info" %>
    <%= yield %>
  </body>
</html>
